@import url(./variables.css);

body {
  font-family: "Roboto", sans-serif;
  background: url(../images/background.png) no-repeat;
  background-size: cover;
}

.container {
  width: 1026px;
  max-height: 768px;
  margin: 0 auto;
}

/* header */

.header-container {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.header__logo {
  display: flex;
}

.header__logo:hover {
  background: url(../images/logo-orange.png) no-repeat;
}

.header__logo:hover .header__logo-img {
  opacity: 0;
}

.header__logo:hover .header__name {
  color: var(--main-hover-color);
}

.header__name {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin-left: 8px;
}

.header__name_part1 {
  font-size: 29px;
}

.header__name_part2 {
  font-size: var(--main-text-size);
}

.header__contacts {
  display: flex;
  flex-direction: column;
  font-size: var(--main-text-size);
  text-align: right;
  font-weight: 400;
}

.header__contact_number {
  margin-top: 19px;
}

.header__contact_number:hover,
.header__contact_mail:hover {
  color: var(--main-hover-color);
}

/* main */

.main-container {
  margin-top: 17px;
}

.tours-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.tours-nav__item:nth-child(4n),
.tours-nav__item:nth-child(5n),
.tours-nav__item:nth-child(6n) {
  margin-top: 37px;
}

.tours-nav__title {
  font-size: var(--main-text-size);
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.tours-nav__link {
  position: relative;
}

.tours-nav__link:hover .tours-nav__image-caption {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: all 1s ease;
  height: 55px;
}

.tours-nav__link:hover .tours-nav__title {
  color: var(--main-hover-color);
}

.tours-nav__image {
  min-width: 300px;
  min-height: 220px;
  border: 5px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #ffffff, #000000);
}

.tours-nav__image-caption {
  background: #f26522;
  width: 300px;
  height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  bottom: 40px;
  position: absolute;
  display: block;
  opacity: 0;
}

.image-caption__tour-price {
  display: flex;
  flex-direction: column;
}

.image-caption__text {
  font-size: 10px;
  font-weight: 400;
}

.image-caption__text2 {
  margin-top: 8px;
  font-size: 20px;
}

.image-caption__details {
  font-size: 14px;
  margin-top: 15px;
}

.image-caption__details:after {
  content: "";
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  display: inline-block;
  transform: rotate(45deg);
  width: 5px;
  height: 5px;
  margin-left: 16px;
  margin-bottom: 1px;
}

/* footer */

.footer-container {
  padding: 15px;
}
.footer__copyright {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
  color: #ffffff;
}
